    <!-- About Section -->

    <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2><span class="light">About</h2>
                    <p>Aditya Sidharta is a penultimate year student in National University in Singapore, majoring in Statistics with specialization in Finance and Business Statistics. Aditya has a keen interest in the field of data science and data analytics, as he truly believes that advanced analytics and modelling can improve products and services offered by organizations within any industry.</p> <br>

                    <a href="https://www.linkedin.com/in/adityasidharta/" class="btn btn-default btn-lg">Download Aditya's CV</a>
                </div>
            </div>
    </section>