<section id="timeline" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2><span class="light">Timeline</h2>
          <ul class="timeline">

            <li class="{{ class }}">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="/img/timeline/nus.jpg" alt="">
                </div>
                <div class="timeline-panel-left">
                    <div class="timeline-heading">
                        <h4>July 2018</h4>
                        <h4 class="subheading">National University of Singapore</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Bachelor of Science(Honours)</p>
                    </div>
                </div>
            </li>

            <li class="{{ class }}">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="/img/timeline/terayltics.jpg" alt="">
                </div>
                <div class="timeline-panel-left">
                    <div class="timeline-heading">
                        <h4>May 2017 - July 2017</h4>
                        <h4 class="subheading">Teralytics AG, Singapore</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Data Science Intern</p>
                    </div>
                </div>
            </li>

            <li class="{{ class }}">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="/img/timeline/ecolab.gif" alt="">
                </div>
                <div class="timeline-panel-left">
                    <div class="timeline-heading">
                        <h4>May 2016 - July 2016</h4>
                        <h4 class="subheading">Ecolab, Singapore</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Sales Operations Intern</p>
                    </div>
                </div>
            </li>

            <li class="{{ class }}">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="/img/timeline/bca.png" alt="">
                </div>
                <div class="timeline-panel-left">
                    <div class="timeline-heading">
                        <h4>June 2015 - July 2015</h4>
                        <h4 class="subheading">Bank Central Asia, Indonesia</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Business Analyst Intern</p>
                    </div>
                </div>
            </li>


          </ul>

        </div>
    </div>
</section>